<div class="row <%=dom_id(tweet)%>">
		<div class="col-md-2 offset-md-3">
				 <%= tweet.User.email %>
		</div>
		<div class="col-md-4">
			<p><%= tweet.post %></p>
			<% if current_user.liking?(tweet)%>
				<%= link_to '', like_tweet_path(tweet), remote: true, :class => 'fa fa-heart liking',id: dom_id(tweet) %>
			<%else%>
				<%= link_to '', like_tweet_path(tweet), remote: true, :class => "fa fa-heart",id: dom_id(tweet) %>
			<%end%>	
			<i class="fa fa-comment" aria-hidden="true"></i>
			<div class="float-right">
				<%=tweet.created_at.strftime('Creado el %e/%m/%Y a las %H:%M') %>
			</div>
		</div>
	</div>