<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tweets">
    
      <%= render @tweets %>
    
  </tbody>
</table>
<%= form_for(Tweet.new, remote: true) do |f| %>
  <div class="field">
    <%= f.label :post %>
    <%= f.text_area :post, id: :tweet_post %>
  </div>
  <div class="actions">
    <%=f.submit%>
  </div>
<%end%>
<%= link_to 'New Tweet', new_tweet_path %>
