<p id="notice"><%= notice %></p>

<h1>Usuarios de la red</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Follow</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
      <tr>
        <td><%= user.email %></td>
        <td>
          <span class="<%=dom_id(user)%>">
            <% if current_user.following?(user)%>
              <%= link_to 'Dejar de seguir', follow_user_path(user), remote: true %>
            <%else%>
              <%= link_to 'Seguir', follow_user_path(user), remote: true %>
            <%end%>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

