<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <!-- Static navbar -->
    <%= render "layouts/header" %>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    
    <div class="container">
      <%= yield %>
    </div> <!-- /container -->
    
    
    
    
  </body>
</html>
